body {margin: 0px; padding: 0px;}

.titles {display:flex; align-items:center; 
   flex-direction:column; color:#D1E8E2; 
   font-family: sans-serif; background:#116466;}

.topnav {display:flex; background-image:url("C:\Users\eliya\ruthie\src\Untitled2.png");
  background-size: contain; justify-content:flex-end; }

.topnav button { border:black 3px ; padding:30px 25px; color:#D1E8E2; font-size:25px; font-weight:bolder;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color:#116466; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; text-decoration: none; cursor: pointer; background-color: transparent;}

.topnav button:not(.active):hover {background-color: cornsilk; color:#064647; opacity: 0.5;}

.topnav button.active {background-color: midnightblue; color:mistyrose}

.title {margin: 8px;}